@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Carga de Datos</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="frmCarga" method="post" enctype="multipart/form-data" asp-controller="CargaDatos" asp-action="Index">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile" name="postedFiles" accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" multiple>
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="btnLoad" type="submit" value="Upload" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                        <br />
                        <div style="text-align:center;width:100%">
                            <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section scripts{
<script>
    $('#frmCarga').submit(function(event) {
            // disable button
          $('#btnLoad').prop("disabled", true);
          // add spinner to button
          $('#btnLoad').html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
          );
    });
        //async function AJAXSubmit (oFormElement) {
        //    debugger
        //    var resultElement = oFormElement.elements.namedItem("result");
        //    const formData = new FormData(oFormElement);

        //    try {
        //    const response = await fetch(oFormElement.action, {
        //      method: 'POST',
        //      body: formData
        //    });

        //    if (response.ok) {
        //      window.location.href = '/';
        //    }

        //    resultElement.value = 'Result: ' + response.status + ' ' +
        //      response.statusText;
        //    } catch (error) {
        //      console.error('Error:', error);
        //    }
        //  }

</script>
}